[submodule "BaseEngine/thirdparty/SDL3"]
	path = BaseEngine/thirdparty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "BaseEngine/thirdparty/glm"]
	path = BaseEngine/thirdparty/glm
	url = https://github.com/g-truc/glm.git
