[submodule "mira/core/thirdparty/sdl"]
	path = mira/core/thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "mira/thirdparty/sdl"]
	path = mira/thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
